html {
    scroll-behavior: smooth;
}

/* Apply to everything */
* {
  user-select: none;
}

/* Or, apply only to specific elements */
.no-select {
  user-select: none;
}


body {
    /* background-color: #FEFFF9; */
    background-color: #fefee9;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* <weight>: Use a value from 100 to 900 */
}

.headings {
    font-size: 6vw;
    display: inline-block;
    background-color: white;
    margin-top: 12vh;
    padding-right: 5vw;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    color: #034b30;
    padding-left: 5%;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    /* <weight>: Use a value from 200 to 800 */
}

.gradient-mesh {
    /* width: 100vw; */
    height: 200vh;
    aspect-ratio: 1;
    border-radius: 50%;
    position: fixed;
    top: -50%;
    left: -50%;
    background: conic-gradient(from 0deg, #b7bbff, #fefee9, #cacff4, #f6d5f8, #ffc8d9);
    animation: rotate 8s linear infinite;
    filter: blur(100px);
    opacity: 0.8;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    30% {
        transform: rotateY(180deg);
    }

    /* Flip in 1s */
    50% {
        transform: rotateY(180deg);
    }

    /* Hold still */
    60% {
        transform: rotateY(150deg);
    }

    80% {
        transform: rotateY(360deg);
    }

    90% {
        transform: rotateY(340deg);
    }

    100% {
        transform: rotateY(360deg);
    }

    /* End forward */
}

#logo {
    background-color: rgb(255 255 255 / 65%);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    z-index: 100;
    width: 50vw;
    height: auto;
    padding: 2%;
    border-radius: 6vw;
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

#vherna {
    width: 90%;
    height: 80%;
    pointer-events: none;
}

#categoryDiv {
    /* background-color: greenyellow; */
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -0%);
    /* transform: translateY(4vh); */
    /* padding-bottom: 1vh; */
    padding-top: 1vh;
    background-color: rgb(255 255 255 / 65%);
    backdrop-filter: blur(2px);
    border: 1px solid white;
    box-shadow: inset 0 0 100px 5px #064e4094;
    border-radius: 20px;
    filter: drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.395));
    overflow: hidden;
    height: 12vh;
    width: 95vw;
}

.categoryName {
    font-size: 12px;
}

#options {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    /* background-color: aquamarine; */
    display: flex;
    overflow-x: auto;
    gap: 0vw;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 40%;
    /* background-color: red; */
}

.option {
    /* background-color: green; */
    border: 3px solid #00C57A;
    width: 70%;
    /* height: 100%; */
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    border: 5px solid #ffffff;
    color: #005937;
    animation: flip 5s linear infinite;
    transform-style: preserve-3d;
}

#option1 {
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option5 {
    margin-right: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    word-break: normal;
}

#listContainer {
    width: 100vw;
    /* height: 100vh; */
    /* background-color: blue; */
    gap: 2vh;
    margin-top: 12vh;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 95vw;
    /* height: 20vh; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    filter: drop-shadow(3px 3px 5px rgba(97, 97, 97, 0.39));
}

.itemIMG {
    /* height: 20vh; */
    width: 20vh;
    background-size: cover;
    scroll-snap-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

.itemData {
    /* height: 20vh; */
    /* width: 80vw; */
    background-color: #ffffff;
    padding: 1vw;
}

.name {
    font-size: 4vw;
    position: relative;
    top: 2%;
    color: #064E3F;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.price {
    font-size: 4vw;
    position: relative;
    top: 2%;
    color: #000000;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}